.trNormal {
    background-color: transparend;
}

.trSelected {
    background-color: lightblue;
}

.trNormal,
.trSelected {
    transition: background-color 0.3s ease;
}

.trNormal:hover {
    background-color: rgb(188, 188, 188);
}

.trSelected:hover {
    background-color: rgb(85, 175, 205);
}

.availableIcon,
.scheduledIcon {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    margin-bottom: -3px;
    margin-right: 5px;
    display: inline-block;
}

.availableIcon {
    background-color: rgb(78, 204, 78);
}
.scheduledIcon {
    visibility: none;
}
