.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}

.table td {
    border: none;
}

.table th,
.table td {
    padding: 8px;
    padding-right: 30px;
    text-align: left;
}
.checkbox {
    min-width: 30px;
}
.name {
    min-width: 80px;
}

.device {
    min-width: 80px;
}

.path {
    min-width: 450px;
}

.status {
    min-width: 80px;
    padding-left: 20px;
}

.fileDownloader button {
    margin: 10px 0;
    padding: 5px 15px;
}

.header {
    display: flex;
    align-items: center;
}

.header button {
    margin: 10px 0;
    padding: 5px 15px;
}

.selectAll {
    padding: 8px;
    min-width: 150px;
    font-size: 18px;
    font-weight: 700;
}

.selectAll input {
    margin-right: 10px;
}
